@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 768px){
    .desktop{
        display: initial;
    }
}

/* header */

header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

/* img{
    height: 72px;
    width: 52px; 
} */

header{
    padding-left: 80px;
    padding: 50px 67px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    transition: transform 0.4s;
}

header .phone-menu{
    display: none;
}

header nav ul{
    list-style: none;
    text-decoration: none;
}

nav.desktop{
    text-align: right;
}

header nav a{
    text-decoration: none;
    padding-left: 50px;
    color: #302B2C;
}

header nav a.purple{
   color: #9266BE;
}

header nav li{
    display: inline;
}

@media (max-width: 750px){
    header.hidden{
        transform: translateY(-200px);
    }
     .desktop{
        display: flex;
        position: absolute;
        top: 8vh;
        right: 0;
        width:100vw;
        height: 92vh;
        background-color: #bec2ff;
        justify-content: space-around;
        flex-direction: column;
        transform: translateX(100%);
    }
    
    header .phone-menu{
        display: block;
    }
   
    header nav a{
        padding-left: 0px;
        margin: 10px;
        right: 0;
    }
    header nav li{
        display: flex;
        justify-content: space-around;
        /* margin-left: 0;
        opacity: 0; */
    }
    p{
        text-align: right;
    }
}

/* end header */

/* sections */

section{
    height: 100vh;
    /* border: 5px solid red; */
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 
}

section.main-section{
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 20px;
}

.container{
    grid-column: 1 / 2;
    padding-top: 55px;
    padding-left: 10vh;
}

img.main-image{
    display: none;
}

img.phone-image{
    display: none;
}

@media (min-width: 1600px){
    img.main-image{
        display: initial;
        position: absolute;
        width: 90%;
        padding-top: 6vh;
        padding-left: 50%;
    }
}

@media (min-width: 1700px){
    img.main-image{
        display: initial;
        max-width: 90%;
        padding-top: 30px;
    }
}


.container h1{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: left;
    vertical-align: top;
    color: #302B2C;
}

.container h1 a{
    text-decoration: none;
    color: #9266BE;
}

.description{
    padding-top: 25px;
    padding-bottom: 40px;
    max-width: 408px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: justify;
    vertical-align: top;
    color: #6C6C6C;
}

.form a{
    color: #9266BE;
    text-decoration-line: underline;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
}

.install-app{
    padding-top: 100px;
}

.install-app img{
    max-width: 90%;
}

@media (max-width: 750px){
    section.main-section{
        width: 100%;
        padding-top: 160px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section{
        height: auto;
    }
    .container{
        padding-top: 0px;
        padding-left: 0px;
      }
     p.form{
        text-align: center;
        margin: 0px;
    }
    .container{
      padding-top: 0px;
      padding-left: 0px;
    }
    .container h1{
        font-size: 2em;
        text-align: center;
        padding-bottom: 20px;
    }
    .description{
        padding-top: 25px;
        padding-bottom: 30px;
        padding-right: 10%;
        padding-left: 10%;
        max-width: none;
        font-size: 0.9em;
        text-align: center;
    }
    .form a{
        font-weight: 700;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
    }
    .install-app{
        padding-top: 50px;
        text-align: center;
    }
    .install-app img{
        max-width: 25%;
    }
    img.phone-image{
        display: initial;
        position: relative;
        width: 85%;
        bottom: 0;
        padding-top: 0px;
    }
}

@media (min-width: 751px) and (max-width: 1000px){
    header.hidden{
        transform: translateY(-200px);
    }
    section{
        height: auto;
    }
    
    section.main-section{
        width: 100%;
        padding-top: 200px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        text-align: center;
        margin: 0px;
    }
    .container{
      padding-top: 0px;
      padding-left: 0px;
    }
    .container h1{
        font-size: 3em;
        text-align: center;
        padding-bottom: 20px;
    }
    .description{
        padding-top: 25px;
        padding-bottom: 30px;
        padding-right: 20%;
        padding-left: 20%;
        max-width: none;
        font-size: 1.1em;
        text-align: center;
    }
    .form a{
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }
    .install-app{
        padding-top: 50px;
        text-align: center;
    }
    .install-app img{
        max-width: 25%;
    }
    img.phone-image{
        display: initial;
        position: relative;
        width: 85%;
        bottom: 0;
        padding-top: 0px;
    }
}

@media (min-width:1000px) and (max-width:1599px){
    header.hidden{
        transform: translateY(-200px);
    }
    section{
        height: auto;
    }
    section.main-section{
        width: 100%;
        padding-top: 200px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        text-align: center;
        margin: 0px;
    }
    .container{
      padding-top: 0px;
      padding-left: 0px;
    }
    .container h1{
        font-size: 3.5em;
        text-align: center;
        padding-bottom: 20px;
    }
    .description{
        padding-top: 25px;
        padding-bottom: 30px;
        padding-right: 20%;
        padding-left: 20%;
        max-width: none;
        font-size: 1.1em;
        text-align: center;
    }
    .form a{
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }
    .install-app{
        padding-top: 50px;
        text-align: center;
    }
    .install-app img{
        max-width: 25%;
    }
    img.phone-image{
        display: initial;
        position: relative;
        width: 60%;
        bottom: 0;
        padding-top: 0px;
    }
}

@media (min-width: 1600px){
    header.hidden{
        transform: translateY(-200px);
    }
    .container h1{
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        text-align: left;
        vertical-align: top;
        color: #302B2C;
    }
    .description{
        padding-top: 25px;
        padding-bottom: 40px;
        max-width: 408px;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: justify;
        vertical-align: top;
        color: #6C6C6C;
    }
    .install-app{
        padding-top: 138px;
    }
    
    .install-app img{
        max-width: 90%;
    }
}

/* education section */

section#education{
    background-color: white;
    background: url('img/BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#education div.white-box{
    display: flex;
    align-items: center;
    background-color: #9266BE;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50px;
    background: #FFFFFF;
}

section#education div.white-box img{
    width: 100%;
    max-width: 500px;
    height: auto;
}

section#education div.edu-cont{
    padding-right: 150px;
    padding-left: 60px;
}

section#education div.edu-cont h1{
    font-family: 'Abyssinica SIL';
    font-size: 55px;
    font-weight: 400;
    line-height: 53px;
    padding-bottom: 67px;
    padding-top: 50px;
}
section#education div.edu-cont p{
    font-style: normal;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6C6C6C;
    padding-bottom: 30px;
    max-width: 621px;
    text-align: left;
}

section#education div.edu-cont p.dot{
    font-size: 50px;
    color: #D9D9D9;;
}

section#education div.edu-cont a{
    font-size: 16px;
    font-weight: 700;
    color: #9266BE;
    ;
}

@media screen and (max-width: 480px){
    section#education{
        height: auto;
    }
    section#education div.white-box{
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: column;
    }
    section#education div.white-box img{
        max-width: 200px;
        padding-top: 20px;
    }
    section#education div.edu-cont{
        padding-right: 50px;
        padding-left: 50px;
    }
    section#education div.edu-cont h1{
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 50px;
        padding-top: 40px;
        text-align: center;
    }
    section#education div.edu-cont p{
        font-size: 15px;
        line-height: 22px;
        color: #6C6C6C;
        padding-bottom: 20px;
        max-width: 621px;
        text-align: left;
    }
    section#education div.edu-cont p.dot{
        font-size: 50px;
        color: #D9D9D9;;
    }
    section#education div.edu-cont a{
        font-size: 12px;
    }
}

@media all and (min-width: 480px) and (max-width: 919px) {
    section#education{
        height: auto;
    }
    section#education div.white-box{
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: column;
    }
    section#education div.white-box img{
        max-width: 200px;
        padding-top: 20px;
    }
    section#education div.edu-cont{
        padding-right: 50px;
        padding-left: 50px;
    }
    section#education div.edu-cont h1{
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 50px;
        padding-top: 40px;
        text-align: center;
    }
    section#education div.edu-cont p{
        font-size: 15px;
        line-height: 22px;
        color: #6C6C6C;
        padding-bottom: 20px;
        max-width: 621px;
        text-align: left;
    }
    section#education div.edu-cont p.dot{
        font-size: 50px;
        color: #D9D9D9;;
    }
    section#education div.edu-cont a{
        font-size: 12px;
    }

}

@media all and (min-width: 920px) and (max-width:1199px){
    section#education{
        height: 100vh;
    }
    section#education div.white-box{
        margin-left: 50px;
        margin-right: 50px;
    }
    section#education div.white-box img{
        max-width: 350px;
    }
    section#education div.edu-cont{
        padding-right: 60px;
        padding-left: 60px;
    }
    section#education div.edu-cont h1{
        font-size: 40px;
        font-weight: 550;
        line-height: 43px;
        padding-bottom: 47px;
        padding-top: 50px;
    }
    section#education div.edu-cont p{
        font-size: 15px;
        line-height: 22px;
        color: #6C6C6C;
        padding-bottom: 20px;
        text-align: left;
    }
    section#education div.edu-cont p.dot{
        font-size: 40px;
    }section#education div.edu-cont a{
        font-size: 13px;
    }
}

@media (min-width: 1200px) and (max-width:1610px){
    section#education{
        height: 100vh;
    }
    section#education div.white-box{
        margin-left: 50px;
        margin-right: 50px;
    }
    section#education div.white-box img{
        max-width: 450px;
    }
    section#education div.edu-cont{
        padding-right: 60px;
        padding-left: 60px;
    }
    section#education div.edu-cont h1{
        font-size: 45px;
        font-weight: 550;
        line-height: 43px;
        padding-bottom: 47px;
        padding-top: 50px;
    }
    section#education div.edu-cont p{
        font-size: 16px;
        line-height: 22px;
        color: #6C6C6C;
        padding-bottom: 20px;
        text-align: left;
    }
    section#education div.edu-cont p.dot{
        font-size: 45px;
    }
    section#education div.edu-cont a{
        font-size: 14px;
        padding-top: 20px;
    }
}
